@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Roboto:wght@100;400&display=swap");

@layer utilities {
  @variants {
    .masonry {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-auto-rows: 0;
    }
    .masonry-item {
      position: relative;
      overflow: hidden;
      border-radius: 20px;
    }
    .masonry-sm {
      column-gap: 1.5em;
      column-count: 4;
    }
    .masonry-md {
      column-gap: 2em;
      column-count: 4;
      grid-auto-rows: minmax(1fr, auto);
    }
    .break-inside {
      break-inside: avoid;
    }

    .card-zoom:hover .card-zoom-image {
      @apply scale-150;
    }
    .card-zoom:hover .card-zoom-text {
      @apply scale-100;
    }
    .link-underline {
      border-bottom-width: 0;
      background-image: linear-gradient(transparent, transparent),
        linear-gradient(#fff, #fff);
      background-size: 0 1px;
      background-position: 0 100%;
      background-repeat: no-repeat;
      transition: background-size 0.2s ease-in-out;
    }
    .link-underline-black {
      background-image: linear-gradient(transparent, transparent),
        linear-gradient(#f2c, #f2c);
    }
    .link-underline:hover {
      background-size: 100% 1px;
      background-position: 0 100%;
    }
  }
}

body {
  font-family: Poppins, sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.7rem;
  height: 22px;
  /* background-color: rgb(134, 123, 123); */
  background-color: white;
}

::-webkit-scrollbar-thumb {
  height: 8rem;
  /* background: rgb(42, 169, 221);
  background: linear-gradient(
    90deg,
    rgba(42, 169, 221, 1) 0%,
    rgba(15, 227, 61, 1) 40%,
    rgba(25, 190, 223, 1) 100%
  ); */
  background-color: black;
  border-radius: 70px;
}

::-webkit-scrollbar-track-piece {
  border-radius: 70px;
}

::webkit-scrollbar-track {
  border-radius: 10px;
}

h2 {
  font-family: Open Sans, sans-serif;
}
