@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Roboto:wght@100;400&display=swap");

@layer utilities {
  @variants responsive {
    .masonry {
      column-gap: 1.5em;
      column-count: 1;
      grid-auto-rows: minmax(1fr, auto);
    }
    .masonry-sm {
      column-gap: 1.5em;
      column-count: 4;
    }
    .masonry-md {
      column-gap: 2em;
      column-count: 4;
      grid-auto-rows: minmax(1fr, auto);
    }
    .break-inside {
      break-inside: avoid;
    }

    .card-zoom:hover .card-zoom-image {
      @apply scale-150;
    }
    .card-zoom:hover .card-zoom-text {
      @apply scale-100;
    }
    .link-underline {
      border-bottom-width: 0;
      background-image: linear-gradient(transparent, transparent),
        linear-gradient(#fff, #fff);
      background-size: 0 1px;
      background-position: 0 100%;
      background-repeat: no-repeat;
      transition: background-size 0.2s ease-in-out;
    }
    .link-underline-black {
      background-image: linear-gradient(transparent, transparent),
        linear-gradient(#f2c, #f2c);
    }
    .link-underline:hover {
      background-size: 100% 1px;
      background-position: 0 100%;
    }
  }
}

body {
  font-family: Poppins, sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 22px;
  background-color: rgb(168, 158, 158);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(84, 75, 75);
  height: 120px;
}

h2 {
  font-family: Open Sans, sans-serif;
}
